# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Database files
*.db
*.db-journal

# Output directories created by the app
/audit_trail/
/results/

# Environment variables file
.env